.action {
  .container {
    .action-header {
      text-align: center;
      margin-top: 100px;
      .action-main {
        font-size: 42px;
        color: #37414e;
        display: block;
        text-align: center;
      }
      .action-small {
        font-size: 22px;
        color: #858b93;
      }
    }
    .action-table {
      .col-md-4{
        .action-item{
          padding: 0;
          margin-top: 80px;
          .action-item-list{
            list-style: none;
            text-align: center;
            font-size: 34px;
            color:#6d737b;
            background: #e9eef3;
            line-height: 80px;
          }
          .action-blue{
            background: #4b596c;
            color:white;
          }
          .action-green{
            color: white;
            background: #58ad52;
          }
          .action-sky{
            color:white;
            background: #52a1ad;
          }
        }

        .action-link{
           text-align: center;
           margin-top: 90px;
           margin-bottom: 120px;
          list-style: none;
           .action-item-link{
             color:white;
             font-size: 40px;
             background: #4b596c;
             display: block;
             text-align: center;
             line-height: 80px;
             transition: background .3s;
             &:hover,
             &:focus{
               text-decoration: none;
             }
             &:hover{
               background: lighten(#4b596c,15%);
             }
             &:focus{
               background: darken(#4b596c,5%);
             }
           }
          .action-green-link{
             color:white;
             font-size: 40px;
             background: #58ad52;
             display: block;
             text-align: center;
             line-height: 80px;
            transition: background .3s;
             &:hover,
             &:focus{
               text-decoration: none;
             }
            &:hover{
              background: lighten(#58ad52,15%);
            }
            &:focus{
              background: darken(#58ad52,5%);
            }
           }
          .action-blue-link{
            color:white;
            font-size: 40px;
            background: #52a1aa;
            display: block;
            text-align: center;
            line-height: 80px;
            transition: background .3s;
            &:hover,
            &:focus{
              text-decoration: none;
            }
            &:hover{
              background: lighten(#52a1aa,15%);
            }
            &:focus{
              background: darken(#52a1aa,5%);
            }
          }
         }
      }
    }
    }
    .action-footer{
      background: #e9eaed;
      height: 100px;
      &-header{
        text-align: center;
        font-size: 34px;
        margin: 0;
        line-height: 100px;
        font-weight: 700;
    }
  }
}